body {
    background-color: papayawhip;
    display: flex;
    color:#ed008c
    }
    .division-enlaces {
        width: 60px;
        height: 57px;
        display: inline-block;
        margin-right: 10px;
    }
    .division-titulos {
        margin-top: 20px;
        text-align: left;
    }
    .alinear-izquierda{
        float:left;
        margin-right: 10px;
    }
    h1, p {
        border: 1px solid #ed008c(0, 0, 0); /* Ancho del borde */
        padding: 1px; /* Espacio entre el borde y el contenido */
        margin: 5px; /* Margen del recuadro */
    }
    a img {
        border-radius: 100%;
        height: 80px;
    }
    body {
        text-align: center;
        display: flex;
    }
