body {
    background-color: black;
    display: flex;
    }
    .content {
        text-align: center;
    }
    .neon-text {
        color: #ed008c; /* Color del texto (blanco en este caso) */
        text-shadow: 0 5px 5px rgb(0, 0, 3);
    }
    h1, p {
        border: 1px solid #ed008c(0, 0, 0); /* Ancho del borde */
        padding: 1px; /* Espacio entre el borde y el contenido */
        margin: 5px; /* Margen del recuadro */
        display: inline-block; /* Hace que el párrafo se ajuste al ancho del contenido */
    }
    h2, h1, h2, h6 {
        color:#ed008c;
    }
    a img {
        border-radius: 100%;
        opacity: 0.5;
    }
    body {
        text-align: center;
        display: flex;
    }
